* {
    box-sizing: border-box;
}
 
.container {
    font-family: Arial, "Helvetica";
    background: url(../images/blanket.jpg);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 40px 0;
    justify-content: center;
}

header {
    border: 12px solid silver;
    border-radius: 18px;
    text-align: center;
    margin: 0px auto 6px auto;
    height: 150px;
    padding-top: 3px;
    width: 60%;
    background-color: rgb(247, 47, 47);
}

h2 {
    font-family: 'Patrick Hand', cursive;
    font-size: 2.6rem;
    padding-top: 0px;
}
 
h3 {
    font-size: 1.6rem;
    padding-top: 12px;
}

header h4 {
    font-family: 'Patrick Hand', cursive;
    font-size: 2.4rem;
    padding-top: 0px;
    font-style: italic;
}

button {
    display: block;
    width: 240px;
    height: 60px;
    margin: 20px auto 0px auto;
    font-family: 'Patrick Hand', cursive;
    font-size: 36px;
    cursor: pointer;
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 15px;
  }

button:hover {
    background: rgb(37, 221, 49);
    border: 2px solid blue;
    border-radius: 15px;
  }

.qbox {
    border: 15px solid rgb(180, 176, 184);
    border-radius: 18px;
    text-align: left;
    margin: 0px auto 20px auto;
    height: 900px;
    padding: 25px 25px 20px 25px;
    width: 60%;
    background-color: rgb(230, 241, 75);
}

#questions p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

label {
    font-size: 16px;
    margin-left: 24px;
}


#results {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;

}

